@model asp_anything.Models.Viewer
<head>
    <title>Екип</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/lightbox.min.css" />
    <script src="~/js/lightbox-plus-jquery.min.js"></script>
    <style>
        body {
            background-color: white;
        }
        #container1 {
            width: 20%;
            float: left;
        }
        .text {
            text-align: center;
        }    
        .center-image {
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    <title>Екип</title>
<h1 class="title"><b><i>Екип</i></b></h1>
<hr style="height: 20px; color: #069dfb"/>
<div class="gallery">
    
    <div class="container">
        <div class="row">
            

        </div>
    </div>
</div>
</body>