@model asp_anything.Models.Viewer
<head>
    <title>Галерия</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/lightbox.min.css" />
    <script src="~/js/lightbox-plus-jquery.min.js"></script>
    <style>
        body {
            background-color: white;
        }
        #container1 {
            width: 20%;
            float: left;
        }
        .text {
            text-align: center;
        }    
        .center-image {
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
<h1 class="title"><b><i>Галерия</i></b></h1>
<hr style="height: 20px; color: #069dfb"/>
<div class="gallery">
    
    <div class="container">
        <div class="row">
            <div class="col">
                <a
                    href="~/Images/275809080_167795935586328_1650216579971254476_n.png"
                    data-lightbox="mygallery"
                    data-title="Venelin Venelinov">

                    <img class="center-image" src="~/Images/275809080_167795935586328_1650216579971254476_n.png">
                </a>
                <p class="text">Venelin Venelinov</p>
            </div>
        </div>
    </div>
</div>
</body>
