@model asp_anything.Models.Viewer
<head>
    <title>Галерия</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/lightbox.min.css" />
    <script src="~/js/lightbox-plus-jquery.min.js"></script>
    <style>
        body {
            background-color: white;
        }
        #container1 {
            width: 20%;
            float: left;
        }
        .text {
            text-align: center;
        }    
        .center-image {
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
<h1 class="title"><b><i>Галерия</i></b></h1>
<hr style="height: 20px; color: #069dfb"/>
<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col">
                <a
                    href="~/Images/284341232_569023487899210_3426623098369968914_n.jpg"
                    data-lightbox="mygallery">
                    <img class="center-image" src="~/Images/284341232_569023487899210_3426623098369968914_n.jpg " style="height: 300px; width: 450px">
                </a>
            </div>
            <div class="col">
                <a
                    href="~/Images/284382482_540727230965829_2224670429498277305_n.jpg"
                    data-lightbox="mygallery">
                    <img class="center-image" src="~/Images/284382482_540727230965829_2224670429498277305_n.jpg " style="height: 300px; width: 250px">
                </a>
            </div>
            <div class="col">
                <a
                    href="~/Images/284463335_735998680866904_5470387806771032511_n.jpg"
                    data-lightbox="mygallery">
                    <img class="center-image" src="~/Images/284463335_735998680866904_5470387806771032511_n.jpg" style="height: 300px; width: 450px">
                </a>
            </div>
            <div class="col">
                <a
                    href="~/Images/284559151_365767448869072_2097701040945326127_n.jpg"
                    data-lightbox="mygallery">
                    <img class="center-image" src="~/Images/284559151_365767448869072_2097701040945326127_n.jpg" style="height: 300px; width: 450px">
                </a>
            </div>
            <div class="col">
                <a
                    href="~/Images/284901761_2218266571674610_4849586617088315097_n.jpg"
                    data-lightbox="mygallery">
                    <img class="center-image" src="~/Images/284901761_2218266571674610_4849586617088315097_n.jpg" style="height: 300px; width: 450px">
                </a>
            </div>
        </div>
    </div>
</div>
</body>

