@model asp_anything.Models.User
@{
    Layout = "Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-10 " dir="ltr">
            <div class="col-md-10 " dir="ltr">   @Html.DisplayFor(a => a.currentNickname)
    </div>
</body>
</html>
